.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

input {
  padding: 9px 12px 11px;
  margin: 5px 10px;

  border-radius: 21px;
}
